<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <ul>
	<li><%= link_to post.title, post %> (<%= post.comments.count %> comments)</li>
  </ul>
<% end %>

<br />

<% if user_signed_in? %>

	<h2>My Drafts</h2>

	<% @drafts.each do |post| %>
	  <ul>
		<li><%= link_to post.title, post %> (<%= post.comments.count %> comments)</li>
	  </ul>
	<% end %>
	
	<h2>Tag Cloud</h2>
	
	<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
	
	  <%= link_to tag.name, { :action => :tag_list, :id => tag_list.name }, :class => css_class %>
	
	<% end %>
	
<% end %>