<% if user_signed_in? || @post.is_published? %>

	<p id="notice"><%= notice %></p>

	<h2><%= @post.title %></h2>

	<p><%= @post.body %></p>

	<p>
	  <b>Status:</b>
	  <%= @post.status.name %>
	</p>
	
	<h3>Comments</h3>
	<ul>
	<% @post.comments.each do |c| %>
	  <li><strong><%= link_to c.author_name, c.author_url %> says:</strong> <%= c.body %></li>
	<% end %>
	</ul>

	<!-- New comment form -->
	<h3>Add a comment:</h3>
	<%= form_for([@post, @comment]) do |f| %>
	  <div class="field">
	    <%= f.label :author_name %><br />
	    <%= f.text_field :author_name %>
	  </div>
	  <div class="field">
	    <%= f.label :author_email %><br />
	    <%= f.text_field :author_email %>
	  </div>
	  <div class="field">
	    <%= f.label :author_url %><br />
	    <%= f.text_field :author_url %>
	  </div>
	  <div class="field">
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
 
	<% if user_signed_in? %><%= link_to 'Edit', edit_post_path(@post) %> | <% end %>
	<%= link_to 'Back', posts_path %>

<% else %>

	  <p><em>This post is unavailable.</em></p>
	
<% end %>